.about-hero {
  margin-top: 150px;
  margin-left: 400px;
}
.about-hero h1 {
  font-size: 70px;
  font-weight: 200;
}

.about-hero p {
  margin-top: 60px;
  font-size: 23px;
  width: 70%;
  margin-left: -30px;
}

@media (max-width: 768px) {
  .about-hero {
    margin-left: 100px;
  }
  .about-hero h1 {
    font-size: 40px;
  }

  .about-hero p {
    margin-top: 30px;
    font-size: 18px;
    width: 80%;
    margin-left: 10px;
  }
}
