.home-hero {
  margin-top: -450px;
  background: none;
}

.home-hero img {
  width: 100%;
  height: 900px;
}
.home-hero h1 {
  font-size: 60px;
  width: 30%;
  font-weight: 100;
  background: none;
  font-family: sans-serif;
  margin-left: 30px;
  margin-top: -350px;
  color: white;
}
.home-hero p {
  font-size: 27px;
  color: white;
  background: none;
  margin-left: 30px;
  width: 30%;
}

@media (max-width: 768px) {
  .home-hero h1 {
    font-size: 40px;
    width: 80%;
    font-weight: 100;
    margin-left: 40px;
    margin-top: -250px;
    
  }
  .home-hero p {
    font-size: 17px;
    

    margin-left: 50px;
    width: 80%;
  }
}
