.technology-hero h1{
margin-top: 150px;
font-size: 80px;
font-weight: 200;
margin-left: 300px;
}
.technology-hero h1 span{
    margin-left: 150px;
    font-weight: lighter;
}
.technology-hero img{
    margin-top: -10px;
}
.technology-hero p{
    margin-left: 330px;
    margin-top: 20px;
    font-size: 30px;
    width: 50%;
    color: rgb(48, 46, 46);
}