.technology-hero h1 {
  margin-top: 150px;
  font-size: 80px;
  font-weight: 200;
  margin-left: 300px;
}
.technology-hero h1 span {
  margin-left: 150px;
  font-weight: lighter;
}
.technology-hero img {
  margin-top: -10px;
}
.technology-hero p {
  margin-left: 330px;
  margin-top: 20px;
  font-size: 30px;
  width: 50%;
  color: rgb(48, 46, 46);
}

@media (max-width: 768px) {
  .technology-hero h1 {
    font-size: 40px;
    margin-left: 120px;
  }
  .technology-hero h1 span {
    margin-left: 0px;
  }
  .technology-hero img {
    width: 80%;
    margin-left: 70px;
  }
  .technology-hero p {
    margin-left: 120px;
    font-size: 20px;
    width: 70%;
    margin-bottom: -100px;
  }
}
