.home{
    /* background-image: url(../../assets/frontpic.avif); */
   /* width: 100%; */
  /* height: 800px; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
