footer {
  margin-top: 60px;
  margin-left: 100px;
  height: 500px;
}
li {
  list-style: none;
  font-size: 20px;
}
footer h1 {
  font-size: 22px;
  font-weight: 600;
  color: rgb(29, 28, 28);
}

.footer-part {
  display: flex;
  flex-direction: row;
  gap: 200px;
  margin-top: 60px;
  color: rgb(44, 43, 43);
}

.footer-part-list1 {
  display: flex;
  flex-direction: row;
  gap: 80px;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-part-list2 h3 {
  font-size: 20px;
  font-weight: 100;
}

.footer-part-list2 p {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 200;
}

.footer-part-list2 label {
  font-size: 18px;
  padding-top: 30px;
}

.input-part {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.input-part input {
  width: 250px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid black;
}

.input-part button {
  width: 150px;
  height: 40px;
  background: black;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 17px;
  color: white;
  margin-bottom: 20px;
}
.input-part button:hover{
    background: white;
    color: black;
    border: 1px solid black;
    transition: ease-in-out 0.3s;
}
.footer-part-list2 span{
    font-size: 18px;
    margin-left: 10px;
}

.copyright{
       display: flex;
       align-items: center;
       justify-content: center;
       margin-top: 70px;
       font-size: 20px;
}
