.tech-car{
    margin-top: 140px;
    background: black;
    color: white;
    width: 100%;
   
    
}

.tech-car-upper{
    display: flex;
    flex-direction: row;
   
}

.tech-car-side-div{
    margin-top: 200px;
    margin-left: 100px;
}

.tech-car-side-div h3{
    font-size: 18px;
    font-weight: 200;
}

.tech-car-side-div p{
    margin-top: 60px;
    font-size: 35px;
    width: 60%;
}

.tech-car-bottom-main{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 100px;
}

.tech-car-bottom h2{
    font-size: 20px;
    font-weight: 200;
}

.tech-car-bottom p{
    margin-top: 40px;
    width: 60%;
    font-size: 20px;
}